/* Global Style Sheet */
* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'sen';
    position: relative;
}
div.container {
    padding: 0 10px;
}
.hide {
    display: none;
}
/* ----------------- */

/* Header Style Sheet */
header .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
}
header .logo a {
    font-size: 2.5rem;
    color: black;
    text-decoration: none;
}
header .logo a span {
    color: darkred;
}
header .social ul {
    list-style: none;
}
header .social ul li {
    display: inline-block;
    font-size: .9rem;
    margin: 0 8px;
}
header .social ul li a {
    color: black;
    text-decoration: none;
}
header .social ul li a:hover .fa-youtube {
    color: red;
}
header .social ul li a:hover .fa-linkedin {
    color: #0073b1;
}
header .social ul li a:hover .fa-instagram {
    background-image:  linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent;
}
header .social ul li a i {
    font-size: 1rem;
    vertical-align: middle;
}
header .social ul li a span {
    padding-left: 6px;
    vertical-align: middle;
}
header nav {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav button {
    display: none;
    background: transparent;
    border: none;
}
header nav button i {
    font-size: 1.2rem;
}
header nav > a {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 100%;  
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
header nav ul li {
    display: inline-block;
    margin-left: 20px;
    padding: 10px 0;
    position: relative;
}
header nav ul li ul {
    position: absolute;
    display: none;
    top: 42px;
    left: -20px;
    z-index: 2;
    background: white;
    width: max-content;
}
header nav ul li ul li {
    display: block;
    margin: 0;
    padding: 0;
}
header nav ul li ul li:hover {
    background: #ddd;
}
header nav ul li ul li a {
    font-size: .9rem;
    padding: 12px 24px;
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
header nav ul li:hover ul {
    display: block;
}
/* ------------------ */


/* Start Global Articles Styling */
.article {
    border-radius: 3px;
    box-shadow: 0 0 9px -7px #000;
    padding: 4px;
}
.article .article-tmb {
    position: relative;
    border-radius: 4px;
    background-size: cover;
    padding: 8px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
}
.article .article-tmb::after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
}
.article .article-tmb h4 {
    font-weight: 300;
    font-size: 1.1rem;
    color: #fffd;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
    padding: 16px 8px;
    pointer-events: none;
}
.article .article-tmb h4.mst-r {
    font-size: 1.8rem;
}
.article .info,
article .info {
    padding: 3px;
    color: rgb(128, 128, 128);
    font-family: roboto;
    font-size: 0.9rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
}
.article:hover {
    transform: scale(1.02);
}
/* --------------------------- */

/* Section Style Sheet */
section .most-read {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
section h2 {
    font-size: 3rem;
    margin: 10px;
    width: 100%;
    font-weight: 200;
    flex-basis: 100%;
    color: #333;
}
section .most-read .first-most {
    width: 60%;
    margin-right: 20px;
}
section .most-read .first-most .article .article-tmb {
    height: 370px;
}

section .most-read .sec-third-most {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section .latest-updated h2 {
    margin-top: 30px;
}
section .latest-updated .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
section .latest-updated .article {
    flex-basis: 23%;
    margin-bottom: 16px;
}
section .latest-updated .pageprog {
    text-align: center;
    padding: 20px 0;
}
section .latest-updated .pageprog a {
    text-decoration: none;
    color: black;
    margin-left: 8px;
}
section .latest-updated .pageprog a:hover {
    text-decoration: underline;
}
section .latest-updated .pageprog a.active {
    text-decoration:underline;
}
/* ------------------------ */

/* Footer Style Sheet */
footer .feed-privacy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
footer .feed-privacy form input {
    border: 1px solid #333;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: .9rem;
    vertical-align: middle;
}
footer .feed-privacy form button {
    border: 1px solid #333;
    border-radius: 4px;
    padding: 4px 8px;
    vertical-align: middle;
    background: white;
    font-weight: lighter;
}
footer .feed-privacy form button:hover {
    background: black;
    color: white;
    cursor: pointer;
}
footer .feed-privacy .priv-terms a {
    color: #333;
    text-decoration: none;
}
footer .feed-privacy .priv-terms a:hover {
    color: black;
}
footer .copyright {
    background: black;
    color: #ccc;
    text-align: center;
    font-family: 'tahoma';
    font-weight: lighter;
    padding:10px;
    font-size: .9rem;
}
footer .copyright i {
    color: red;
}
/* --------------------------- */

/* Style Sheet Showed Article */
.blue {
    color: #1e63ff !important;
}
.green {
    color: #4ece00 !important;
}
.red {
    color: #ff140e !important;
}
article {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 4;
    width: 100%;
    text-align: center;
    background: white;
}
article .showed-article > h2 {
    font-size: 3rem;
    font-family: "comic neue";
    color: #333;
    font-weight: lighter;
    padding: 20px 0;
}
article .react-close {
    position: fixed;
    top: 10px;
    right: 0;
    background: #ddd;
    z-index: 20;
    width: 50px;
    opacity: .3;
}
article .react-close:hover {
    opacity: 1;
}

article button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
article button:hover {
    background-color: #eee;
}
article .thumbnail {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    opacity: .8;
    margin-top: 70px;
}
article .showed-article {
    transform: translateY(-100px);
    width: 90%;
    margin: 0 auto;
    background-color: white;
    padding: 0 16px;
}
article .showed-article .content {
    padding-top: 20px;
    font-weight: lighter;
    text-align: left;
    color: #333;
}
article .showed-article .content h2 {
    font-size: 2rem;
    
}
article .showed-article .content h3 {
    font-size: 1.6rem;
}
article .showed-article .content h4 {
    font-size: 1.3rem;
}
article .showed-article .content h5 {
    font-size: 1.1rem;
}
article .showed-article .content h2,
article .showed-article .content h3,
article .showed-article .content h4,
article .showed-article .content h5
{
    margin: 16px 8px;
    font-family: "comic neue";
    font-weight: 400;
    color: black !important;
}
article .showed-article .content h4,
article .showed-article .content h5
{
    font-weight: 700 !important;
}
article .showed-article .content p {
    font-size: 1rem;
    font-weight: lighter;
    padding-left: 20px;
    line-height: 1.5;
}
article .showed-article .content ul,
article .showed-article .content ol {
    padding-left: 60px;
    margin: 10px 0;
}
article .showed-article .content ul li,
article .showed-article .content ol li {
    line-height: 2
}
article .showed-article img {
    width: 720px;
    margin-left: 60px;
    margin-bottom: 16px;
    margin-top: 16px;
    display: inline-block;
}
@media (max-width: 720px) {
    article .showed-article img {
        width: 90%;
        margin-left: 30px;
    }
    article .showed-article > h2 {
        font-size: 2.3rem;
    }
}
@media (max-width: 625px) {
    article .showed-article > h2 {
        font-size: 1.7rem;
    }
    article .showed-article {
        width: 96%;
        padding: 0 8px;
    }
}
@media (max-width: 500px) {
    article .showed-article > h2 {
        font-size: 1.2rem;
        color: #222;
    }
}
article .showed-article code {
    background: #282a36;
    padding: 3px 4px;
    border-radius: 2px;
}
/* ------------------------- */
/* Responsive Style Sheet */
@media (max-width: 690px) {
    section .most-read .first-most,
    section .most-read .sec-third-most {
        flex-basis: 100%;
        width: auto;
        margin: 0;
        margin-bottom: 8px;
    }
    section .latest-updated .article {
        flex-basis: 48%;
        margin-bottom: 16px;
    }
    header .social ul li a span {
        display: none;
    }
    header nav {
        position: relative;
        justify-content: space-between;
    }
    header nav button {
        display: block;
    }
    header nav ul {
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        position: absolute;
        top: 39px;
        left: 0;
        width: 100%;
        background: white;
        z-index: 2;
    }
    header nav ul.show {
        display: flex;
    }
    header nav ul li {
        display: block;
        flex-basis: 44%;
    }
    header nav ul li ul {
        display: block;
        position: static;
    }
}
@media (max-width: 625px) {
    
    footer .feed-privacy {
        flex-wrap: wrap;
        justify-content: center;
    }
    footer .feed-privacy .priv-terms {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    
}
@media (max-width: 500px) {
    section h2 {
        font-size: 1.9rem;
    }
    header nav ul.show {
        display: block;
        width: 100%;
    }
    header nav ul li ul {
        width: 100%;
    }
    section .latest-updated .article {
        flex-basis: 100%;
    }
}
/* ------------------------- */